@using Core.Models
@using Services
@page "/allapplications"

<h3>Alle ansøgninger fra alle år:</h3>

@*For each application in applications it check if its already displayed*@
@foreach (var item in applications)
{
	//If its not displayed it will display the year and a table with all the applications from that year
	if (IsAlreadyDisplayed(item.SubmitDate) != true)
	{

		
		<h3>@item.SubmitDate.Year</h3>
		<table class="styled-table">
			@*This is the header for the table*@
			<thead>
				<tr>
					<th>Navn</th>
					<th>Email</th>
					<th>Antal Børn</th>
					<th>Underskrift</th>
					<th> </th>
				</tr>
			</thead>
			@*The body is where all the applications gets placed, so that its saved in one place under the year its submitted*@
			<tbody>
				@*Displays all the applications, but only where the year matches with the current application that is ran through the loop *@
				@foreach (var app in applications.Where(e => e.SubmitDate.Year == item.SubmitDate.Year))
				{
					<tr>
						<td>@app.Parent.ParentName</td>
					<td>@app.Parent.ParentMail</td>
					<td>@app.Parent.Children.Count</td>
					<td>@app.Verified</td>
					@*This is where you open the modaldialog, so you can see more information about the specific application*@
					<td><button @onclick="()=>OpenDialog(item)" class="btn btn-outline-secondary">Se Mere</button></td>
				</tr>
			}
		</tbody>
	</table>
	}
}
@{
	//We reset the counter for the years, so we can display the years again
//	Years = new();
}

<ModalDialog @ref="@addDialog" Title="See more details">
	<h1>Ansøgning</h1>
	<p>Forældre: @SelectedApplication.Parent.ParentName</p>
	<p>Forældre Email: @SelectedApplication.Parent.ParentMail</p>
	<p>Forældre Telefon: @SelectedApplication.Parent.ParentPhone</p>
	<p>KræwNr.: @SelectedApplication.Parent.KræwNumber</p>
	<p>Indsendelsesdato: @SelectedApplication.SubmitDate</p>
	<p>1. Prioritet: Uge @SelectedApplication.Priority1.WeekNumber</p>
	<p>2. Prioritet: Uge @SelectedApplication.Priority2.WeekNumber</p>
	<p>På Venteliste: @SelectedApplication.IsOnWaitingList</p>
	<p>Verified: @SelectedApplication.Verified</p>
	@{
		int i = 1;
	}

	@foreach (var child in SelectedApplication.Parent.Children)
	{
		<h1>@i. Barn</h1>
		<p>Navn: @child.ChildName</p>
		<p>Alder: @child.ChildAge</p>
		<p>T-shirt str: @child.TshirtSize</p>
		<p>Kommentar: @child.Comment</p>
		<p>Allegener: @child.Allergies</p>
		<p>Været her før?: @child.BeenHereBefore</p>
		<p>Interesser: @child.Interests</p>
		i++;
	}

	</ModalDialog>

	@code {
		private List<Application> applications = new();
		private List<int> Years = new();
		private ModalDialog? addDialog { get; set; }
		private Application SelectedApplication = new();

	[Inject]
	private IServiceClass? mService { get; set; }

	protected override async Task OnInitializedAsync()
	{
		applications = (await mService.GetAllLegacyApplication()).ToList();
		applications.Sort((x, y) => x.SubmitDate.Year.CompareTo(y.SubmitDate.Year));

	}

	public bool IsAlreadyDisplayed(DateTime date)
	{
		foreach (var item in Years)
		{
			if (item == date.Year)
			{
				return true;
			}
		}
		Years.Add(date.Year);
		return false;
	}

	public void OpenDialog(Application application)
	{
		addDialog.Open();
		SelectedApplication = application;
	}
}
